<%- include('partials/header') %>
  <style>
  </style>
  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-3x"></i>

      <h1 class="display-6 secret-heading">Welcome to the world of Secrets!</h1>


      <%var secretsArray=[];%>
        <% foundUsers.forEach(function(user){ %>

          <% var detailsRequired={date:user.datePosted,secret:user.secret};%>
            <%secretsArray.push(detailsRequired);%>

              <% }); %>
              <%secretsArray.sort((user1,user2)=>user2.date-user1.date)%>
                <% secretsArray.forEach(function(userData){ %>

                  <div class="container-box">

                    <p class="date-display">
                      <%=userData.date%>
                    <p>
                    <div class="content">
                      <%= userData.secret %>
                    </div>

                  </div>

                  <% }); %>

                    <hr>

                    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
                    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
    <!-- </div>

  <%- include('partials/footer') %>